footer {
  margin-bottom: 20px;
  overflow: hidden;

  .container {
    position: relative;
    padding: 100px 40px;
  }

  position: relative;
  &::before {
    content: "";
    background: linear-gradient(164.05deg, #44538d 0%, #293366 100%);
    border-radius: 40px;
    width: calc(100% - 40px);
    height: 100%;
    top: 0;
    left: 20px;
    position: absolute;
  }
}

.contact {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.mail-contact {
  font-size: 24px;
  text-decoration: underline;
  overflow-wrap: break-word;

  @media screen and (max-width: $device-width-small) {
    font-size: 20px;
  }
}

.contacts-container {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  @media screen and (max-width: $device-width-small) {
    li {
      display: inline-block;
      width: 50%;
      margin-bottom: 20px;
    }
  }
}
